/*---------------------------------------------------*/
/*  .  ,---.,-.-.,--.          						 */
/*  |  |    | | |'--.          						 */
/*  '  `---'` ' ''--'          						 */
/* Mr.Mustache | iCMS v0.1 DESIGN ~ RELEASE 09252015 */
/* Materialize ~ Material Design ~ Metro UI 		 */
/* Revision: 01142016          						 */
/* Revision: 05142016          						 */
/* Revision: 05232016          						 */
/* Revision: 07052016          						 */
/* Update Revision: 12262016   						 */
/* LICENSE: PRIVATE		       						 */
/*---------------------------------------------------*/
@ttf: format('truetype');

@font-face{
	font-family: 'Raleway';
	src: url("fonts/Raleway/Raleway-Regular.ttf") format('truetype');
}

@font-face{
	font-family: 'Raleway Light';
	src: url("fonts/Raleway/Raleway-Light.ttf") format('truetype');
}

@font-face{
	font-family: 'Raleway ExtraLight';
	src: url("fonts/Raleway/Raleway-ExtraLight.ttf") format('truetype');
}

@font-face{
	font-family: 'Billabong';
	src: url("fonts/Billabong/billabong.ttf") format('truetype');
}

@font-face{
	font-family: 'Ubuntu';
	src: url("fonts/Ubuntu/Ubuntu-R.ttf") format('truetype');
}

@font-face{
	font-family: 'Ubuntu Light';
	src: url("fonts/Ubuntu Light/Ubuntu-L.ttf") format('truetype');
}

@font-face{
	font-family: 'Ubuntu Condensed';
	src: url("fonts/Ubuntu Condensed/Ubuntu-C.ttf") format('truetype');
}

@font-face{
	font-family: 'KeepCalm';
	src: url("fonts/KeepCalm/KeepCalm-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: url("fonts/Roboto/Roboto-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/MaterializeIcons/MaterialIcons-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Roboto Mono/Roboto-Mono-Latin.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}