<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Regla 4">
					<match url="^quickregister/(.*)/e/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="quickregister/{R:1}.php" />
				</rule>
				<rule name="Regla 5">
					<match url="^identity/useOrCreateAvatar/(.*)?(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="identity/useOrCreateAvatar/index.php?id={R:1}" />
				</rule>
				<rule name="Regla 7">
					<match url="^community/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="community_{R:1}.php" />
				</rule>
				<rule name="Regla 8">
					<match url="^account/password/resetIdentity/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="account/password/resetIdentity.php?Code={R:1}" />
				</rule>
				<rule name="Regla 9">
					<match url="^creditflow/confirm/(.*)/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="creditflow/confirm.php?ID={R:1}&amp;SubID={R:2}" />
				</rule>
				<rule name="Regla 9-1">
					<match url="^creditflow/validate/(.*)/(.*)/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="creditflow/validate.php?ID={R:3}" />
				</rule>
				<rule name="Regla 9-2">
					<match url="^creditflow/proceedWithPayment/(.*)/(.*)/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="creditflow/proceedWithPayment.php?ID={R:3}" />
				</rule>
				<rule name="Regla 10">
					<match url="^credits/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="credits_{R:1}.php" />
				</rule>
				<rule name="Regla 11">
					<match url="^groups/(.*)/id/discussions/(.*)/id/page/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="viewthread.php?groupid={R:1}&amp;thread={R:2}&amp;page={R:3}" />
				</rule>
				<rule name="Regla 12">
					<match url="^groups/(.*)/id/discussions/(.*)/id" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="viewthread.php?groupid={R:1}&amp;thread={R:2}" />
				</rule>
				<rule name="Regla 13">
					<match url="^groups/(.*)/id/discussions" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="groups/Forum.php?id={R:1}" />
				</rule>
				<rule name="Regla 14">
					<match url="^groups/(.*)/id/canceledit" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="myhabbo/canceledit.php" />
				</rule>
				<rule name="Regla 15">
					<match url="^groups/(.*)/id" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="groups/Profile.php?id={R:1}" />
				</rule>
				<rule name="Regla 16">
					<match url="^home/(.*)/id" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="home.php?id={R:1}" />
				</rule>
				<rule name="Regla 17">
					<match url="^home/(.*)/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="home.php?name={R:1}&amp;do={R:2}" />
				</rule>
				<rule name="Regla 18">
					<match url="^home/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="home.php?name={R:1}" />
				</rule>
				<rule name="Regla 19">
					<match url="^identity/useOrCreateAvatar/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="identity/useOrCreateAvatar/index.php" />
				</rule>
				<rule name="Regla 21">
					<match url="^habbo-imaging/badge/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="habbo-imaging/badge.php?badge={R:1}" />
				</rule>
				<rule name="Regla 22">
					<match url="^myhabbo/startSession/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="myhabbo/startSession/index.php?Id={R:1}" />
				</rule>
				<rule name="Regla 23">
					<match url="^profile/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="profile_{R:1}.php" />
				</rule>
				<rule name="Regla 24">
					<match url="^myhabbo/cancel/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="myhabbo/cancel.php?Id={R:1}" />
				</rule>
				<rule name="Regla 25">
					<match url="^safety/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="safety_{R:1}.php" />
				</rule>
				<rule name="Regla 26">
					<match url="^articles/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="articles.php?URI={R:1}" />
				</rule>
				<rule name="Regla 27">
					<match url="^room/(.*)" ignoreCase="false" />
					<action type="Rewrite" url="room.php?roomId={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Regla 28">
					<match url="^managed-gamedata/override/external_override_variables/(.*)" ignoreCase="false" />
					<action type="Rewrite" url="managed-gamedata/override/eov.php?token={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Regla 29">
					<match url="^managed-gamedata/override/external_flash_override_texts/(.*)" ignoreCase="false" />
					<action type="Rewrite" url="managed-gamedata/override/efot.php?token={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Regla 30">
					<match url="^shop/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="shop.php?tab={R:1}" />
				</rule>
				<rule name="Regla 1" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="{R:1}.php" appendQueryString="true" />
				</rule>
				<rule name="Regla 2" stopProcessing="true">
					<match url="^$" ignoreCase="false" />
					<action type="Rewrite" url="/" />
				</rule>
				<rule name="Regla 3" stopProcessing="true">
					<match url="(.*)" ignoreCase="false" />
					<action type="Rewrite" url="/{R:1}" />
				</rule>
			</rules>
		</rewrite>
		<httpErrors errorMode="Custom">
			<remove statusCode="404" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<remove statusCode="505" subStatusCode="-1" />
			<error statusCode="404" path="/error.php" responseMode="ExecuteURL" />
			<error statusCode="500" path="/error500.php" responseMode="ExecuteURL" />
			<error statusCode="505" path="/error500.php" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
