html {

}

body {
    font-family: 'Ubuntu Light';
    margin: 0;
    background: url(../img/bg_rooms.png) repeat,  #ececec;
    background: url(../img/bg_rooms.png) repeat, linear-gradient(to bottom , #ececec, #c3c3c3);
    background: url(../img/bg_rooms.png) repeat, -webkit-linear-gradient(to bottom , #ececec, #c3c3c3);
}

a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header,
hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section,
small, span, strike, strong, sub, summary, sup, table, tbody, td, 
tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* Header */
.header {
    color: #ffffff;
    font-size: .88em;
    line-height: 1.4em;
    background: #b3e6ff url(https://www.transparenttextures.com/patterns/gplay.png);
    width: 100%;
    box-shadow: 0px 1px 10px -1px black;
    position: relative;
}

.header__container {
    zoom: 1;
    margin: 0 auto;
    max-width: 1024px;
    min-width: 320px;
    padding: 0 20px;
}

.header__row {
    display: table;
    width: 100%;
}

.header__column {
    display: table-cell;
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: top;
}

.header__column {
    padding: 15px 40px;
}

.header__logo__link {
    border: 0;
    float: left;
}

.header__register__link {
    border: 0;
    background: #389200;
    border: 2px solid #389200;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.15) 51%);
    border-radius: 4px;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 7px 0;
    float: right;
    font-size: 12pt;
}

.header__register__link.disabled {
    background: #9e0016;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.15) 51%);
    border-color: #9e0016;
}

.header__register__link:hover {
    background: #42a902;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.15) 51%);
    border: 2px solid #42a902;
}

.header__register__link.disabled:hover {
    background: #bb0f27;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.15) 51%);
    border-color: #bb0f27;
}

.header__logo {
    background-image: url(../img/hekos-logo.png);
    width: 120px;
    height: 52px;
    display: inline-block;
    text-indent: -9999px;
    transition: opacity .2s ease-out;
}

.speech-bubble {
    float: left;
    min-width: 80px;
    height: 40px;
    color: transparent;
    position: relative;
    background: #ffffff;
    border-radius: .4em;
    margin: 7px 15px;
    vertical-align: middle;
    padding: 0 10px;
    text-align: center;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color:#ffffff;
    border-left: 0;
    margin-top: -8px;
    margin-left: -8px;
}

.speech-bubble p{
    margin: 0;
    color: black;
    line-height: 40px;
}

/* Main */
.main {
    min-height: 100%;
}

.container {
    zoom: 1;
    margin: 0 auto;
    max-width: 1150px;
    min-width: 320px;
    padding: 0 20px;
}

.row {
    display: table;
    width: 100%;
    margin: 0 0 15px;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.row.main__view {
    height: 560px;
}

.row.lasts__view {
    height: 500px;
}

.column {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}

.column.reception__landing {
    width: 60%;
}

.column.login__landing {
    width: 40%;
}

.column.last__registers__landing {
    width: 55%;
}

.column.last__news__landing {
    width: 55%;
}

.section__title {
    background: #353535;
    padding: 6px 40px;
    box-shadow: 0px 3px 7px -3px black;
    color: #ffffff;
    font-size: 20pt;
    z-index: 1;
    margin: 0 auto;
    width: 300px;
    border-radius: 4px;
    text-align: -webkit-center;
    font-family: 'Ubuntu Condensed';
}

.section__title.last__registers {
    background: #0e90b7;
}

.section__title.last__news {
   background: #d21259;
}

.adbox {
	background-image: url(https://i.imgur.com/gcpBj0y.png);
    background-repeat: no-repeat;
    width: 740px;
    height: 136px;
}

/* Login */

.login__landing {
    height: 100%;
    width: 100%;
}

.login__box {
    padding: 25px 5px;
    margin: 50px auto;
    width: 400px;
    max-height: 300px;
    background: #ffffff;
    border-radius: 5px;
}

.login__box .error__box {
    width: 100%;
    padding: 5px 0px;
    background: #c72c2c;
    border-radius: 4px;
    line-height: 20px;
    color: #ffffff;
    font-size: 8pt;
}

.login__box .error__box .error {
    padding: 0 10px;
}

.login__box .login__form {
    padding: 10px 10px;
}

.login__box .login__form .title {
    font-size: 20pt;
    color: #e00053;
}

.login__box .login__form form .input {
	margin: 0 0 0 -25px;
}

.login__box .login__form form input[type=text], input[type=email], input[type=password] {
	font-family: inherit;
	background-color: transparent;
    border: none;
    border-bottom: 1px solid #c1c0c0;
    border-radius: 0;
    outline: none;
    height: 20px;
    width: 87%;
    font-size: 12pt;
    margin: 15px 0 15px 31px;
    text-indent: 2px;
    box-shadow: none;
    box-sizing: content-box;
	text-indent: 30px;
}

.login__box .login__form form input[type=text]{
	background: url(../img/iconos.png) no-repeat -16px -8px;
}

.login__box .login__form form input[type=password]{
    background: url(../img/iconos.png) no-repeat -14px -55px;
    height: 24px;
}

.login__box .login__form form input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    transition: all .3s;
	border-bottom: 1px solid #015688;
    box-shadow: 0 1px 0 0 #0068a5;
}

.login__box .login__form form .access__buttons button {
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.15) 51%);
    font-size: 10pt;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
	font-family: inherit;
    
}

.login__box .login__form form .access__buttons button.login__button {
    background-color: #206b01;
    border: 2px solid #206b01;
}

.login__box .login__form form .access__buttons button.login__button:hover{
    background-color: #2d9a00;
	border-color: #2d9a00;
}

.login__box .login__form form .access__buttons button.login__facebook {
    background-color: #3b5998;
    border: 2px solid #3b5998;
}

.login__box .login__form form .access__buttons button.login__facebook:hover{
	background-color:#4e67a1;
	border-color: #4e67a1;
}


/* Reception */
.reception__landing {
    height: 100%;
    width: 100%;
    background: url(../img/reception.png) no-repeat 0 -140px;
}

.bubble {
    position: absolute;
    padding: 10px;
    margin: 155px 0 0 346px;
    height: 54px;
    width: 164px;
}

.bubble .welcome__title {
    font-size: 14pt;
    color: #008fe2;
}

.bubble .welcome__text {
    font-size: 10pt;
    color: #000000;
}

.bubble .welcome__username {
    font-size: 10pt;
    color: #000000;
    font-weight: bold;
    padding: 4px 0px;
}

.user__figure {
    position: absolute;
    margin: 337px 0 0 150px;
}

/* Last Registers*/

.last__registers__landing {
    height: 100%;
    width: 100%;
    background: url(../img/registers_room.gif) no-repeat -3px 50px;
}

.last__registers__bubble {
    border: 1px solid #3c3c3c;
    background: #ffffff;
    width: 210px;
    border-radius: 15px;
    font-size: 10pt;
    padding: 5px 15px 5px 10px;
    height: auto;
    z-index: 0;
    box-shadow: 1px 1px 7px -1px rgba(0, 0, 0, 0.8);

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}

.last__registers__bubble.gab {
    position: absolute;
    margin: 25px 0 0 0px;

    -webkit-animation: moveup-gab 10s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: moveup-gab 10s; /* Firefox < 16 */
    -ms-animation: moveup-gab 10s; /* Internet Explorer */
    -o-animation: moveup-gab 10s; /* Opera < 12.1 */
    animation: moveup-gab 10s;
    animation-iteration-count:infinite;
}

.last__registers__bubble.mus {
    position: absolute;
    margin: 13px 0 0 420px;

    -webkit-animation: moveup-mus 13s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: moveup-mus 13s; /* Firefox < 16 */
    -ms-animation: moveup-mus 13s; /* Internet Explorer */
    -o-animation: moveup-mus 13s; /* Opera < 12.1 */
    animation: moveup-mus 13s;
    animation-iteration-count:infinite;
    animation-delay: 2s;
}

.last__registers__bubble .icon {
    background-repeat: no-repeat;
    height: 31px;
    width: 37px;
    float: left;
}

.last__registers__bubble .icon.gab {
    background: url(../img/bubble.png) 1px 2px;
}

.last__registers__bubble .icon.mus {
    background: url(../img/bubble.png) 1px -28px;
}

.last__register__user__figure-0 {
    position: absolute;
    margin: 310px 0 0 395px;
}

.last__register__user__figure-1 {
    position: absolute;
    margin: 165px 0 0 295px;
}

.last__register__user__figure-2 {
    position: absolute;
    margin: 210px 0 0 395px;
}

.last__register__user__figure-3 {
    position: absolute;
    margin: 180px 0 0 135px;
}

.last__register__user__figure-4 {
    position: absolute;
    margin: 70px 0 0 300px;
}

.tooltiptext {
    background-color: white;
    border: 1px solid #353535;
    background: #055590;
    color: #ffffff;
    border-radius: 4px;
    padding: 0px 0;
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.4);
    font-family: 'Ubuntu Light';
}

.tooltiptext:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #055590;
    border-right: 0;
    margin-top: -10px;
    margin-right: -10px;
}

.tooltiptext .username {
    font-size: 12pt;
    font-weight: bold;
}

.tooltiptext .username .username__head {
    float: left;
    background: #353535;
    border-radius: 3px 0 3px 0;
    overflow: hidden;
    height: 25px;
    width: 25px;
}

.tooltiptext .username .username__head img {
    margin: -3px 0px;
}

.tooltiptext .username .username__name {
    line-height: 26px;
    font-size: 11pt;
    padding: 0 30px;
}

.tooltiptext .motto {
    font-size: 8pt;
    font-style: italic;
    padding: 0 30px;
}

.tooltiptext .dateRegistered {
    font-size: 9pt;
    padding: 6px 30px;
}

.last__register__user__figure-0 img + .tooltiptext {
    visibility: hidden;
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: -155px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.last__register__user__figure-0 img:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.last__register__user__figure-1 img + .tooltiptext {
    visibility: hidden;
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: -155px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.last__register__user__figure-1 img:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.last__register__user__figure-2 img + .tooltiptext {
    visibility: hidden;
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: -155px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.last__register__user__figure-2 img:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.last__register__user__figure-3 img + .tooltiptext {
    visibility: hidden;
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: -155px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.last__register__user__figure-3 img:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.last__register__user__figure-4 img + .tooltiptext {
    visibility: hidden;
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: -155px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.last__register__user__figure-4 img:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Last News */

.last__news__landing {
    height: 100%;
    width: 100%;
}

.last__news__box {
    margin: 10px auto;
    padding: 20px 25px;
    background: #efefef;
    border-radius: 4px;
    width: 380px;
    box-shadow: -1px 2px 10px -1px rgba(0, 0, 0, 0.8);
}

.new__box {
    border-bottom: 1px solid #dcdcdc;
    min-height: 40px;
    margin: 0 0 10px 0;
    padding: 10px 0;
    display: flex;
}

.new__box .new__image {
    overflow: hidden;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 35px;
    display: -webkit-inline-box;
    margin: 0 0;
    float: left;
}

.new__box .new__data {
    float: left;
    max-width: 350px;
}

.new__box .new__data .new__title {
    vertical-align: top;
    padding: 0 10px;
    font-size: 12pt;
    color: #000000;
    text-transform: uppercase;
    font-family: Ubuntu Condensed;
    overflow-wrap: break-word;
}

.new__box .new__data .new__date {
    padding: 5px 20px;
    font-size: 8pt;
}

/* Footer */
.footer {
    color: #3e3e3e;
    font-size: .88em;
    line-height: 1.4em;
    background: #b3e7ff;
    width: 100%;
    box-shadow: 0px -1px 10px -1px black;
    position: relative;
}

.footer a {
    border-bottom: 1px solid transparent;
    color: #0095ce;
    font-weight: bold;
    text-decoration: none;
    transition: border .2s ease-out;
}

.footer a:hover {
    color: #02acec;
}

.footer ol, p, ul {
    margin: 25px 0 15px;
}

.footer ol, ul {
    margin: 0 0 0px;
}

.footer h2, h3, h4 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    font-family: 'Ubuntu Condensed','Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;
    line-height: 1.4em;
    margin: 60px 0 40px;
    /* text-transform: uppercase; */
}

.footer h4 {
    font-size: 1.2em;
}

.footer__container {
    zoom: 1;
    margin: 0 auto;
    max-width: 1024px;
    min-width: 320px;
    padding: 0 20px;
}

.footer__bottom, .footer__row {
    width: 100%;
}

.footer__bottom {
    padding: 0 40px;
}

.footer__bottom {
    padding: 0;
    text-align: center;
}

.footer__bottom.last {
    padding-bottom: 10px;
}

.footer__bottom__item:not(:last-child) {
    margin-right: 5px;
}

.footer__bottom__item:not(:last-child):after {
    content: '\00b7';
    margin-left: 5px;
}

.footer__bottom__item {
    display: inline;
}

.footer__row {
    display: table;
}

.footer__column {
    display: table-cell;
    padding-bottom: 0;
    padding-top: 0;
}

.footer__column {
    padding: 15px 40px;
}

.footer__column--logo {
    vertical-align: middle;
}

.footer__logo {
    background-image: url(../img/hekos-logo.png);
    width: 120px;
    height: 52px;
    display: inline-block;
    opacity: .7;
    text-indent: -9999px;
    transition: opacity .2s ease-out;
}

.footer__logo:hover {
    opacity: 1;
}

.footer__title {
    color: #ccc;
    margin: 0;
}

.footer__logo__link {
    border: 0;
    display: inline-block;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes moveup-gab {
    from { margin-top: 75px; }
    to   { margin-top: 15px; }
}

/* Firefox < 16 */
@-moz-keyframes moveup-gab {
    from { margin-top: 75px; }
    to   { margin-top: 15px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes moveup-gab {
    from { margin-top: 75px; }
    to   { margin-top: 15px; }
}

/* Internet Explorer */
@-ms-keyframes moveup-gab {
    from { margin-top: 75px; }
    to   { margin-top: 15px; }
}

/* Opera < 12.1 */
@-o-keyframes moveup-gab {
    from { margin-top: 75px; }
    to   { margin-top: 15px; }
}

@keyframes moveup-mus {
    from { margin-top: 55px; }
    to   { margin-top: 0px; }
}

/* Firefox < 16 */
@-moz-keyframes moveup-mus {
    from { margin-top: 55px; }
    to   { margin-top: 0px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes moveup-mus {
    from { margin-top: 55px; }
    to   { margin-top: 0px; }
}

/* Internet Explorer */
@-ms-keyframes moveup-mus {
    from { margin-top: 55px; }
    to   { margin-top: 0px; }
}

/* Opera < 12.1 */
@-o-keyframes moveup-mus {
    from { margin-top: 5px; }
    to   { margin-top: 0px; }
}